h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > h2 {
    text-align: center;
    margin-bottom: 5px;
}
input {
    display: block;
    margin-bottom: 5px;
}
button {
    margin: 10px
}
#output-box {
    width: 75%;
    margin: auto;
}
.to-do-box {
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    border-top: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.to-do-title {
    padding-left: 15px;
    color: white;
}
.open-context {
    display: block;
    margin-right: 5px;
    margin-left: auto;
    color: white;
}
.delete-to-do {
    display: block;
    margin-right: 15px;
    margin-left: 10px;
    color: white;
}
.context-box {
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
}
.to-do-context {
    padding-left: 15px;
    color: white;
}
footer {
    margin-top: 25px;
    text-align: center;
}